<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script src="windowload.js"></script>
	<script type="text/javascript">
		window.onload=function(){
			headloading();
			tagloading();
		}
	</script>
	<link rel="stylesheet" type="text/css" href="module.css">
	<style type="text/css">
		label{width: 120px;}
		#maindiv{height: 800px;}
	</style>
	<title>XXX公路交通客运系统</title>
</head>
<body>
	<div id=head>
		<div id=headuser>
			<div>您好！</div>
			<div id=headlogin>请先 <a href="login.html#login"> 登录 </a>|<a href="login.html#regist"> 注册 </a></div>
			<div id=headbox><a href="user.html"> 用户中心 </a>|<a href="#" id=headexit> 退出 </a></div>
		</div>
		<div id=phone>联系电话：52505205 </div>
		<div id=logo><img src="1.jpg"> XXX公路客运网上售票系统</div>
	</div>
	<div id=guide>
		<div><a href="index.html">首页</a></div>
		<div><a href="user.html">用户中心</a></div>
		<div><a href="notice.html">通知公告</a></div>
		<div><a href="guide.html">出行指引</a></div>
		<div><a href="#">联系我们</a></div>
	</div>
	<div id=tag>
		<div></div>
		<li><a href="#login"><button>登录</button></a></li>
		<li><a href="#regist"><button>注册</button></a></li>
	</div>
	<div id=maindiv>
		<div id=login class="main1">
		</div>
		<div id=regist class="main">
		</div>
	</div>
	<div id=bottom>
		<div></div>
		<p>&copycopyright 20xx-20xx xxxglkp.com</p>
	</div>
</body>
<script src="tagchange.js"></script>
</html>